
<div class="row">
    <div class="col s12 m6">
        <div class="card grey ligthen-1">
            <div class="card-content white-text">
                <span class="card-title">{{thiss.name}}</span>
                <li>
                    <p> {{this.date}} </p>
                </li>
                <li>
                    <p> {{this.time}} </p>
                </li>
                <li>
                    <p> {{this.event}} </p>
                </li>
               </div>
              <div class="card-action">
            </div>
        </div>
    </div>
</div>
