<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>
<body class="container">
    <div class="row">
        <div class="col s12">
            <div class="navbar-fixed">
                <nav class='purple'>
                    <h3>Make It Happen</h3>
                </nav>
            </div>
            {{{body}}}
            <script type="text/javascript" src="js/materialize.min.js"></script>
        </div>
     </div>
   </body>
  <footer class="footer-fixed purple page-footer">
</footer>
</html>
