<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
</head>

<body>
    <div class="col l12">
        <div class="navbar-fixed">
            <nav class='purple'>
                <a href="/" class="brand-logo right">Home</a>
                <h5>Make It Happen</h5>
            </nav>
        </div>
        {{{body}}}
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </div>
</body>
<footer class="footer-fixed purple page-footer">
</footer>

</html>
